machine.json
{
  "Comment": "Dave",
  "StartAt": "a",
  "States": {
    "a": {
      "Type": "Task",
      "Resource": "example/incrementss",
      "Next": "b",
      "Retry": [
        {
          "ErrorEquals": ["{\"error\":{\"message\":\"Route not found\"}}\n"],
          "MaxAttempts": 2
        }
      ]
    },
    "b": {
      "Type": "Wait",
      "Seconds": 3,
      "Next": "c"
    },
    "c": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.value",
          "NumericEquals": 10,
          "Next": "d"
        }
      ],
      "Default": "a"
    },
    "d": {
        "Type": "Succeed"
    }
  }
}
