machine.json
{
  "Comment": "A simple counter",
  "StartAt": "a",
  "States": {
    "a": {
      "Type": "Task",
      "Resource": "example/increment",
      "Next": "b",
      "Retry": [
        {
          "ErrorEquals": ["{\"error\":{\"message\":\"Route not found\"}}\n"],
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["{\"error\":{\"message\":\"Route not found\"}}\n"],
          "Next": "b"
        }
      ]
    },
    "b": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "d"
    },
    "c": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.value",
          "NumericEquals": 10,
          "Next": "d"
        }
      ],
      "Default": "a"
    },
    "d": {
        "Type": "Succeed"
    },
    "e": {
      "Type":"Fail",
      "Error": "Failed the state machine",
      "Cause": "Probably an uncaught error"
    }
  }
}
